<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>{{ .Title }}</title>
  </head>
  <body>
    <ul>
        {{ with .Pages }}
          {{ range . }}
            <li>
                <div><a href="../{{ .HTMLPagePath }}" >{{ .TextFileName }}</a></div>
            </li>
          {{ end }}
        {{ end }}
    </ul>
  </body>
</html>